{% extends "base.html.twig" %}

{% block title %}
   {{ 'Create Movie'|trans }}
{% endblock %}

{% block stylesheets %}
    <style></style>
{% endblock %}

{% block body %}
    {{ form(form) }}
    <a href="{{ path('all_quotes') }}">{{ 'Go Back'|trans }}</a>
{% endblock %}
